@font-face {
    font-family: 'unicash-roman';
    src: url('unica_webfont/unicash-roman-webfont.eot');
    src: url('unica_webfont/unicash-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('unica_webfont/unicash-roman-webfont.woff2') format('woff2'),
         url('unica_webfont/unicash-roman-webfont.woff') format('woff'),
         url('unica_webfont/unicash-roman-webfont.ttf') format('truetype'),
         url('unica_webfont/unicash-roman-webfont.svg#unicash-romanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unicash-bolditalic';
    src: url('unicaBoldItalic/unicash-bolditalic-webfont.eot');
    src: url('unicaBoldItalic/unicash-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unicaBoldItalic/unicash-bolditalic-webfont.woff2') format('woff2'),
         url('unicaBoldItalic/unicash-bolditalic-webfont.woff') format('woff'),
         url('unicaBoldItalic/unicash-bolditalic-webfont.ttf') format('truetype'),
         url('unicaBoldItalic/unicash-bolditalic-webfont.svg#unicash-bolditalicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#c {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: none;
}

#cIntro {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	border: none;
	z-index: 999;
}

#question {
	width: 100%;
	height: 100%;
	margin-top: 60px;
	position: absolute;
	font-size: 150px;
	font-family: "unicash-roman";
}

#note {
	display: none;
}

#infos {
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	width: 100%;
	height: 45px;
	left: 0px;
	top: 0px;
	z-index: 99;
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-weight: normal;
	font-family: "unicash-roman", Georgia;
	letter-spacing: 1px;
}
#infos #chapter{
	float: left;
	text-align: left;
	padding: 9px 9px 9px 15px;
}

#infos #cash{
	float: right;
	text-align: right;
	padding: 9px 15px 9px 14px;
}